.previewWrapper
  iframe#preview(allowfullscreen='', style='border-style:none;', src='https://cdn.pannellum.org/2.2/pannellum.htm?panorama=https://pannellum.org/images/cerro-toco-0.jpg&autoLoad=true')
  .gridOverlay
    .column
      .item(data-index='1')
        i.fa.fa-eye
      .item(data-index='2')
        i.fa.fa-eye
      .item(data-index='3')
        i.fa.fa-eye
      .item(data-index='4')
        i.fa.fa-eye
    .column
      .item(data-index='5')
        i.fa.fa-eye
      .item(data-index='6')
        i.fa.fa-eye
      .item(data-index='7')
        i.fa.fa-eye
      .item(data-index='8')
        i.fa.fa-eye
    .column
      .item(data-index='9')
        i.fa.fa-eye
      .item(data-index='10')
        i.fa.fa-eye
      .item(data-index='11')
        i.fa.fa-eye
      .item(data-index='12')
        i.fa.fa-eye

button.btn.js-choose Choose photo